.main-nav {
  border-radius: 20px;
  border: 1px solid var(--br-a);
  background: var(--bg-b);
  padding: 10px clamp(15px, 1.953125vw, 40px);

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  &__item {
    & > * {
      color: var(--cl-c);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      svg {
        flex-shrink: 0;
      }
    }
  }
}