@mixin overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  overflow-y: auto;
  padding: 20px 0;
  height: 100%;
  min-height: 100dvh;
  max-height: 100dvh;
  background: rgba(0, 0, 0, 0.50);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  transition-delay: 0.5s;
  pointer-events: none;

  //@include mobile {
  //  padding: 0;
  //}

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s, visibility 0.6s;
    pointer-events: initial;

    //&-mode {
    //  z-index: 100;
    //  visibility: visible;
    //  opacity: 1;
    //
    //  transition: opacity 0.3s, visibility 0.3s;
    //
    //  pointer-events: initial;
    //}
  }

}
