<header class="header">
  <div class="container">
      <div class="header__inner">
          <div class="header__wrap">
              <a href="/" class="logo">
                  <img width="104" height="32" src="img/logo.svg" alt="logo">
              </a>
              <span class="header__text">Надежний Liquid staking сервис</span>
          </div>


          <a class="icon-link" href="#">
              <span class="icon">
                  <svg width="18" height="15">
                    <use href="img/sprite/sprite.svg#telegram"></use>
                  </svg>
              </span>
              @staker_support
              <small>Telegram поддержка</small>
          </a>

          <a class="icon-link" href="#">
              <span class="icon">
                  <svg width="18" height="15">
                    <use href="img/sprite/sprite.svg#mail"></use>
                  </svg>
              </span>
              support@staker.io
              <small>Техническая поддержка</small>
          </a>

          <a class="icon-link" href="#">
              <span class="icon">
                  <svg width="18" height="15">
                    <use href="img/sprite/sprite.svg#mail"></use>
                  </svg>
              </span>
              9:00 - 21:00
              <small>Время работы офиса</small>
          </a>

          <button class="header__button main-button">
              Подключить кошелек
          </button>

      </div>

      <nav class="main-nav">
          <ul class="main-nav__list">
              <li class="main-nav__item"><a href="#">Главная страница</a></li>
              <li class="main-nav__item"><a href="#">Мобильное приложение</a></li>
              <li class="main-nav__item"><a href="#">Как это работает?</a></li>
              <li class="main-nav__item"><a href="#">О компании</a></li>
              <li class="main-nav__item">
                  <a href="#">
                      <svg width="5" height="5">
                      	<use href="img/sprite/sprite.svg#round"></use>
                      </svg>
                      Live трансляция
                  </a>
              </li>
              <li class="main-nav__item"><a href="#">Ноды</a></li>
              <li class="main-nav__item"><a href="#">FaQ</a></li>
              <li class="main-nav__item">
                  <a href="#">
                      Еще
                      <svg width="10" height="6">
                      	<use href="img/sprite/sprite.svg#arrow-bottom"></use>
                      </svg>
                  </a>
              </li>
          </ul>
      </nav>

  </div>
</header>
