@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    src: url("../fonts/#{$url}.woff2") format("woff2"),
    url("../fonts/#{$url}.woff") format("woff");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("Hind", "Hind-Regular", 400, normal);
@include font-face("Hind", "Hind-Bold", 700, normal);
@include font-face("Inter", "Inter-Light", 300, normal);
@include font-face("Inter", "Inter-Regular", 400, normal);
@include font-face("Inter", "Inter-SemiBold", 600, normal);
@include font-face("Inter", "Inter-Bold", 700, normal);
@include font-face("Inter", "Inter-BoldItalic", 700, italic);


// 100 – Thin || Hairline
// 200 – Extra Light || Ultra Light || Thin
// 300 – Light
// 450 – Demi
// 400 – Normal || Regular
// 500 – Medium
// 600 – Semi Bold || Demi Bold
// 700 – Bold
// 800 – Extra Bold || Ultra Bold || Heavy
// 900 – Black || Heavy

