
:root {
  // --------------- default global variables ---------------
  --frame-width: 1920;
  --rem-function: 16px;

  //--rem-function: calc(100vw / var(--frame-width));

  --error-bg: #d01f1f;
  --body-bg: #F5F7FD;
  --body-font-size: 16px;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // --------------- default JS variables ---------------

  //--header-height: 88px;


  // --------------- default scroll variables ---------------
  --scrollbar-thumb: #1397D6;

  // --scrollbar-thumb-hover: #00aff0;
  --scrollbar-track: rgba(0, 0, 0, 0.07);
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);

  // --------------- default select variables ---------------
  --select-inner-bg: #404040;
  --select-inner-border: #FDFDFD;
  --select-focus-border: #FDFDFD;

  // --------------- default font-family variables ---------------

  --font-family: "Gilroy", sans-serif;   // var(--font-family);


  // --------------- default text color variables ---------------
  --cl-a: #ffffff; // var(--cl-a);
  --cl-b: #E5EAF3; // var(--cl-b);
  --cl-c: #050D0E; // var(--cl-c);
  --cl-d: #E4E8F4; // var(--cl-d);
  --cl-e: #FFCF8A; // var(--cl-e);
  --cl-f: #000000; // var(--cl-f);
  --cl-g: #21242D; // var(--cl-g);





  // --------------- default background color variables ---------------
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #E5EAF3; // var(--bg-b);
  --bg-c: #050D0E; // var(--bg-c);
  --bg-d: #E4E8F4; // var(--bg-d);
  --bg-e: #FFCF8A; // var(--bg-e);
  --bg-f: #000000; // var(--bg-f);
  --bg-g: #21242D; // var(--bg-g);



  // --------------- default border color variable ---------------
  --br-a: #CCD3DE; // var(--br-a);
  --br-b: #47474D; // var(--br-b);




  // --------------- default projects variables ---------------


}


